/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li button {
    padding: 0.5rem 1rem;
    background-color: white;
    border: 2px solid #4CAF50;
    color: #4CAF50;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  nav ul li button:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Main Section */
  #temple-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
  }
  
  .temple-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    padding: 1rem;
    width: 300px;
    text-align: center;
  }
  
  .temple-card img {
    max-width: 100%;
    border-radius: 8px;
  }
  
  .temple-card h2 {
    color: #4CAF50;
    font-size: 1.5rem;
  }
  
  .temple-card p {
    font-size: 1rem;
    margin: 0.5rem 0;
  }
  
  /* Footer */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  footer p {
    margin: 0;
  }
  